{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class='container'>
	<div class='row'>
		<div class='col-md-2'></div>
		<div class='col-md-8 mt-5'>
			<div class="card p-5">
				<form method='post' class='post-form' action="{% url 'usercreate' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<h3 class="text-primary">Sign Up</h3>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Firstname</label>
							<input type="text" name="first_name" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Lastname</label>
							<input type="text" name="last_name" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Email</label>
							<input type="email" name="email" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Username</label>
							<input type="text" name="username" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Password</label>
							<input type="password" name="password" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Confirm Password</label>
							<input type="password" name="cpassword" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4 mt-3">
							<button type='submit' class='btn btn-outline-primary rounded-pill w-100'>SignUp</button>
							<p class='text-muted'>Already a member. <a href="{% url 'loginpage' %}">Login</a></p>
						</div>
						<div class="col-md-4"></div>
					</div>
				</form>
			</div>
		</div>
		<div class='col-md-2'></div>
	</div>
</div>
{% endblock %}